<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="vtiger.automation.ListImgClass"/>
</listeners>
  <test thread-count="2" name="Test">
    <classes>
      <class name="com.crm.vtiger.LeadModuleTests.TC_32_ConvertLeadToOpportunitiesAmount_Test"/>
      <class name="com.crm.vtiger.LeadModuleTests.TC_34_ConvertLeadToOpportunitiesEditable_Test"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
